<!DOCTYPE html>
    <html>
      <head>
          <link rel="stylesheet" href="style.css">
      </head>
      <body background="b.jpg" style="background-repeat:no-repeat;background-size:100%">
          <button><a href="http://localhost/Inventory System - esraa sayed & dina meshahd/Add_new_product.php" target="iframe" >
                      Add product
                  </a>
          </button>
          <button  ><a href="http://localhost/Inventory System - esraa sayed & dina meshahd/Search.php"  target="iframe">
                      Search 
                  </a>
          </button>
          <button ><a href="http://localhost/Inventory System - esraa sayed & dina meshahd/make_a_bill.php" target="iframe" >
                     Get a bill
                  </a></button>
          <button >
              <a href="http://localhost/Inventory System - esraa sayed & dina meshahd/modify.php" target="iframe">
              Modify
              </a>
        </button>
        <button >
          <a href="http://localhost/Inventory System - esraa sayed & dina meshahd/show_all_products.php" target="iframe"  >
          Show products
            </a>
         </button>
          <button>
              <a href="Calculator.html" target="iframe"  >
          Calculator
           </a>
         </button>
          <iframe name="iframe" src="Calculator.html"></iframe>
      </body>
    </html>
